
:root {
  --project-showcase-name-color: #8425af;
  --project-showcase-position-color: #666;
  --project-showcase-testimony-color: #333;
  --project-showcase-name-size: 24px;
  --project-showcase-position-size: 16px;
  --project-showcase-testimony-size: 18px;
  --project-showcase-name-top: 0;
  --project-showcase-name-bottom: 10px;
  --project-showcase-position-top: 0;
  --project-showcase-position-bottom: 0.5em;
  --project-showcase-testimony-top: 1.24em;
  --project-showcase-testimony-bottom: 1em;
  --project-showcase-line-height: 1.56;
  --project-showcase-button-gradient: linear-gradient(to right, #8425af, #a855f7);
  --project-showcase-button-background: #f8f9fa;
  --project-showcase-button-text-color: #8425af;
  --project-showcase-button-outer-radius: 8px;
  --project-showcase-button-inner-radius: 6px;
  --project-showcase-button-hover-text-color: #fff;
}

.dark {
  --project-showcase-name-color: #fff;
  --project-showcase-position-color: #aaa;
  --project-showcase-testimony-color: #eee;
  --project-showcase-button-background: #1a1a1a;
  --project-showcase-button-text-color: #fff;
}
